In [1]:
import wrds
# import refinitiv.data # wrds doesn't work unless some dependency from refinitiv.data is installed. idk why, cant be bothered to find out (python 3.10.6).
import pandas as pd
conn = wrds.Connection()

WRDS recommends setting up a .pgpass file.
Created .pgpass file successfully.
You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done

In [2]:
# databases available to us
libs = conn.list_libraries()
libs

['aha_sample',
 'ahasamp',
 'auditsmp',
 'auditsmp_all',
 'bank',
 'bank_all',
 'block',
 'block_all',
 'boardex_trial',
 'boardsmp',
 'bvd',
 'bvd_amadeus_trial',
 'bvd_bvdbankf_trial',
 'bvd_orbis_large',
 'bvd_orbis_medium',
 'bvd_orbis_small',
 'bvd_orbis_trial',
 'bvd_osiris',
 'bvdsamp',
 'calcbench_trial',
 'calcbnch',
 'cboe',
 'cboe_all',
 'ciq',
 'ciq_common',
 'ciq_pplintel',
 'ciq_ratings',
 'ciq_transcripts',
 'ciqsamp',
 'ciqsamp_capstrct',
 'ciqsamp_common',
 'ciqsamp_keydev',
 'ciqsamp_pplintel',
 'ciqsamp_ratings',
 'ciqsamp_transactions',
 'ciqsamp_transcripts',
 'cisdmsmp',
 'columnar',
 'comp',
 'comp_bank',
 'comp_bank_daily',
 'comp_emdb_daily',
 'comp_emdb_monthly',
 'comp_execucomp',
 'comp_global',
 'comp_global_daily',
 'comp_na_annual_all',
 'comp_na_daily_all',
 'comp_na_monthly_all',
 'comp_segments_hist',
 'comp_segments_hist_daily',
 'compa',
 'compb',
 'compg',
 'compm',
 'compsamp',
 'compsamp_all',
 'compsamp_snapshot',
 'compseg',
 'contrib',
 'contrib_as_filed_financials',
 'contrib_ceo_turnover',
 'contrib_char_returns',
 'contrib_general',
 'contrib_global_factor',
 'contrib_intangible_value',
 'contrib_kpss',
 'contrib_liva',
 'crsp',
 'crsp_a_ccm',
 'crsp_a_indexes',
 'crsp_a_stock',
 'crsp_a_treasuries',
 'crsp_q_mutualfunds',
 'crspsamp',
 'crspsamp_all',
 'crspsamp_mf',
 'csmar',
 'csmar_financial',
 'csmar_funds',
 'csmar_trade',
 'csmsamp_all',
 'djones',
 'djones_all',
 'dmef',
 'dmef_all',
 'doe',
 'doe_all',
 'emdb',
 'etfg_samp',
 'etfgsamp',
 'eurekahedge_sample',
 'eursamp',
 'execcomp',
 'factsamp_all',
 'factsamp_revere',
 'ff',
 'ff_all',
 'fjc',
 'fjc_linking',
 'fjc_litigation',
 'frb',
 'frb_all',
 'fssamp',
 'ftsesamp',
 'ftsesamp_russell_us',
 'govpxsamp_all',
 'govpxsmp',
 'gutenberg',
 'hfrsamp',
 'hfrsamp_hfrdb',
 'ibes',
 'ibessamp_kpi',
 'ifgrsamp',
 'ims_obp_trial',
 'imssamp',
 'infogroupsamp_business',
 'infogroupsamp_residential',
 'insdsamp',
 'iri',
 'iri_all',
 'iss_va_mf',
 'iss_va_vote_global',
 'iss_va_vote_us',
 'issm',
 'issm_nasd1987',
 'issm_nasd1988',
 'issm_nasd1989',
 'issm_nasd1990',
 'issm_nasd1991',
 'issm_nasd1992',
 'issm_nyam1983',
 'issm_nyam1984',
 'issm_nyam1985',
 'issm_nyam1986',
 'issm_nyam1987',
 'issm_nyam1988',
 'issm_nyam1989',
 'issm_nyam1990',
 'issm_nyam1991',
 'issm_nyam1992',
 'kld',
 'kld_histall',
 'kpisamp',
 'ktmine_patents_samp',
 'ktsamp',
 'lvnsamp',
 'lvnsamp_all',
 'macrofin',
 'macrofin_comm_trade',
 'midas',
 'morningstarsamp_cisdm',
 'mrktsamp',
 'mrktsamp_cds',
 'mrktsamp_cdx',
 'mrktsamp_msf',
 'msrb',
 'msrb_all',
 'msrbsamp',
 'msrbsamp_all',
 'omtrial',
 'optionmsamp_europe',
 'optionmsamp_us',
 'otc',
 'otc_endofday',
 'permstub_all',
 'phlx',
 'phlx_all',
 'pitchsmp',
 'ppubsamp',
 'ppubsamp_d4d',
 'ppubsamp_rx_checkup',
 'preqsamp',
 'preqsamp_all',
 'public',
 'public_all',
 'pwt',
 'pwt_all',
 'reprisk_sample',
 'repsamp',
 'revelio_samp',
 'revsamp',
 'risk',
 'risk_directors',
 'risksamp',
 'risksamp_all',
 'rq_all',
 'rstat_samp',
 'rstatsmp',
 'sdcsamp',
 'secsamp',
 'secsamp_all',
 'snapsamp',
 'snlsamp',
 'snlsamp_fig',
 'sustainalyticssamp_all',
 'sustsamp',
 'taqmsamp',
 'taqmsamp_all',
 'taqsamp',
 'taqsamp_all',
 'totalq',
 'totalq_all',
 'tr_ibes_guidance',
 'tr_ibes_iga',
 'trace',
 'trace_enhanced',
 'trace_standard',
 'trcstsmp',
 'trdssamp',
 'tresgsmp',
 'trsamp',
 'trsamp_all',
 'trsamp_ds_eq',
 'trsamp_dscom',
 'trsamp_dsecon',
 'trsamp_dsfut',
 'trsamp_esg',
 'trsamp_sdc_ma',
 'trsamp_sdc_ni',
 'trsamp_worldscope',
 'trucost_samp',
 'twoiq_samp',
 'twoiqsmp',
 'wappsamp',
 'wrds_insiders_samp',
 'wrds_lib_internal',
 'wrdsapps',
 'wrdsapps_backtest_basic',
 'wrdsapps_backtest_plus',
 'wrdsapps_eushort',
 'wrdsapps_evtstudy_lr',
 'wrdsapps_finratio',
 'wrdsapps_finratio_ccm',
 'wrdsapps_link_comp_eushort',
 'wrdsapps_link_crsp_bond',
 'wrdsapps_link_crsp_factset',
 'wrdsapps_link_crsp_taq',
 'wrdsapps_link_datastream_wscope',
 'wrdsapps_link_dealscan_wscope',
 'wrdsapps_link_supplychain',
 'wrdsapps_patents',
 'wrdsapps_plink_exec_ciq',
 'wrdsapps_subsidiary',
 'wrdsapps_windices',
 'wrdsappssamp_all',
 'wrdssec_midas',
 'zacksamp',
 'zacksamp_all']

In [3]:
# tables under database
# camp_na_daily_all contains daily data for most securities in NA
conn.list_tables(library='comp_na_daily_all')

['aco_amda',
 'aco_imda',
 'aco_indfnta',
 'aco_indfntq',
 'aco_indfntytd',
 'aco_indsta',
 'aco_indstq',
 'aco_indstytd',
 'aco_notesa',
 'aco_notesq',
 'aco_notessa',
 'aco_notesytd',
 'aco_pnfnda',
 'aco_pnfndq',
 'aco_pnfndytd',
 'aco_pnfnta',
 'aco_pnfntq',
 'aco_pnfntytd',
 'aco_transa',
 'aco_transq',
 'aco_transsa',
 'aco_transytd',
 'adsprate',
 'asec_amda',
 'asec_imda',
 'asec_notesa',
 'asec_notesq',
 'asec_transa',
 'asec_transq',
 'chars',
 'co_aacctchg',
 'co_aaudit',
 'co_adesind',
 'co_adjfact',
 'co_afnd1',
 'co_afnd2',
 'co_afnddc1',
 'co_afnddc2',
 'co_afntind1',
 'co_afntind2',
 'co_ainvval',
 'co_amkt',
 'co_busdescl',
 'co_cotype',
 'co_filedate',
 'co_fortune',
 'co_hgic',
 'co_iacctchg',
 'co_iaudit',
 'co_idesind',
 'co_ifndq',
 'co_ifndsa',
 'co_ifndytd',
 'co_ifntq',
 'co_ifntsa',
 'co_ifntytd',
 'co_imkt',
 'co_industry',
 'co_ipcd',
 'co_mthly',
 'co_offtitl',
 'company',
 'currency',
 'dd_group',
 'dd_group_xref',
 'dd_item',
 'dd_package',
 'ecind_desc',
 'ecind_mth',
 'exrt_dly',
 'exrt_mth',
 'funda',
 'funda_fncd',
 'fundq',
 'fundq_fncd',
 'idx_ann',
 'idx_anndes',
 'idx_daily',
 'idx_index',
 'idx_mth',
 'idx_qrt',
 'idx_qrtdes',
 'idxcst_his',
 'io_qaggregate',
 'io_qbuysell',
 'io_qchanges',
 'io_qfloatadj',
 'io_qholders',
 'it_mbuysell',
 'it_msummary',
 'it_r_rltn',
 'names',
 'names_aco_indsta',
 'names_aco_indstq',
 'names_aco_pnfnda',
 'names_aco_pnfndq',
 'names_adsprate',
 'names_ix',
 'names_ix_cst',
 'names_seg',
 'namesd',
 'namesm',
 'namesq',
 'r_accstd',
 'r_acqmeth',
 'r_auditors',
 'r_auopic',
 'r_balpres',
 'r_cf_formt',
 'r_co_status',
 'r_coindpre',
 'r_compstat',
 'r_consol',
 'r_country',
 'r_cstclscd',
 'r_datacode',
 'r_datafmt',
 'r_divtaxmarker',
 'r_docsrce',
 'r_ex_codes',
 'r_exchgtier',
 'r_exrt_typ',
 'r_fndfntcd',
 'r_footnts',
 'r_foricd',
 'r_giccd',
 'r_hcalendr',
 'r_idxclscd',
 'r_inactvcd',
 'r_incstats',
 'r_indfmt',
 'r_indsec',
 'r_invval',
 'r_issuetyp',
 'r_majidxcl',
 'r_mic_codes',
 'r_naiccd',
 'r_notetype',
 'r_ntsubtype',
 'r_offcrso',
 'r_ogmethod',
 'r_opinions',
 'r_prc_stat',
 'r_qsrcdoc',
 'r_sec_stat',
 'r_secannfn',
 'r_sectors',
 'r_siccd',
 'r_spiicd',
 'r_spmicd',
 'r_statalrt',
 'r_states',
 'r_stko',
 'r_titles',
 'r_updates',
 'sec_adesind',
 'sec_adjfact',
 'sec_afnd',
 'sec_afnddc',
 'sec_afnt',
 'sec_divid',
 'sec_dprc',
 'sec_dtrt',
 'sec_history',
 'sec_idesind',
 'sec_ifnd',
 'sec_ifnt',
 'sec_mdivfn',
 'sec_mshare',
 'sec_msptfn',
 'sec_mth',
 'sec_mthdiv',
 'sec_mthprc',
 'sec_mthspt',
 'sec_mthtrt',
 'sec_shortint',
 'sec_spind',
 'sec_split',
 'secd',
 'secm',
 'security',
 'sedolgvkey',
 'seg_ann',
 'seg_annfund',
 'seg_customer',
 'seg_geo',
 'seg_naics',
 'seg_product',
 'seg_type',
 'spidx_cst',
 'spind',
 'spind_dly',
 'spind_mth',
 'wrds_seg_customer',
 'wrds_seg_geo',
 'wrds_seg_product',
 'wrds_segmerged',
 'xfl_column',
 'xfl_table']

In [4]:
# just listing the company table
company = conn.get_table(library='comp_na_daily_all', table='company', obs=5)
company

,conm,gvkey,add1,add2,add3,add4,addzip,busdesc,cik,city,...,priusa,sic,spcindcd,spcseccd,spcsrc,state,stko,weburl,dldte,ipodate
0,A & E PLASTIK PAK INC,001000,None,None,None,None,None,A & E Plastik Pak Inc. is a commodity chemical...,None,None,...,01,3089,325,978,None,None,0,None,1978-06-30,None
1,A & M FOOD SERVICES INC,001001,1924 South Utica Avenue,None,None,None,94104,None,0000723576,Tulsa,...,01,5812,420,978,None,OK,0,None,1986-07-31,None
2,AAI CORP,001002,124 Industry Lane,None,None,None,21030-0126,"Textron Systems Corporation designs, develops,...",0001306124,Hunt Valley,...,01,3825,230,940,None,MD,0,www.textronsystems.com,1977-03-31,None
3,A.A. IMPORTING CO INC,001003,7700 Hall Street,None,None,None,63125,"A.A. Importing Company, Inc. designs, manufact...",0000730052,St. Louis,...,01,5712,449,976,None,MO,3,www.aaimporting.com,1992-04-30,None
4,AAR CORP,001004,"One AAR Place, 1100 North Wood Dale Road",None,None,None,60191,AAR Corp. provides products and services to co...,0000001750,Wood Dale,...,01,5080,110,925,B,IL,0,www.aarcorp.com,None,1972-04-24

In [5]:
# voo_prices = conn.raw_sql("""
# select datadate, conm, tic, prccd
# from comp_na_daily_all.secd
# where tic = 'VOO'
# """)
# voo_prices

In [6]:
# nus' crsp subscription for indexes only updates annually, we shall use comp instead. 
# crsp_snp_historical_daily = conn.raw_sql("""
# select caldt, spindx
# from crsp_a_indexes.dsp500
# """)
# crsp_snp_historical_daily = crsp_snp_historical_daily.dropna()
# crsp_snp_historical_daily['caldt'] = pd.to_datetime(crsp_snp_historical_daily['caldt'])
# crsp_snp_historical_daily[crsp_snp_historical_daily['caldt'] == pd.to_datetime('1984-03-09')]

In [7]:
# idx_daily isn't on the wrds webpage, but some digging via `conn.get_tables(library='comp_na_daily_all)` yields other tables such as idx_daily.
# gvkeyx is a unique code compustat assigns to a security; 000003 is S&P
# reference: https://wrds-www.wharton.upenn.edu/data-dictionary/comp_na_daily_all/idx_daily/ for variable descriptions
# can just use `prccddiv` since it takes dividends returns into account

comp_snp_historical_daily = conn.raw_sql("""
select *
from comp_na_daily_all.idx_daily
where gvkeyx = '000003'
""")
comp_snp_historical_daily

,gvkeyx,dvpsxd,newnum,oldnum,prccd,prccddiv,prccddivn,prchd,prcld,datadate
0,000003,NaN,NaN,NaN,156.30,NaN,None,156.30,156.30,1984-02-10
1,000003,NaN,NaN,NaN,154.95,NaN,None,154.95,154.95,1984-02-13
2,000003,NaN,NaN,NaN,156.61,NaN,None,156.61,156.61,1984-02-14
3,000003,NaN,NaN,NaN,156.25,NaN,None,156.25,156.25,1984-02-15
4,000003,NaN,NaN,NaN,156.13,NaN,None,156.13,156.13,1984-02-16
...,...,...,...,...,...,...,...,...,...,...
10096,000003,0.000000,503.0,503.0,4850.43,10509.439394,None,4868.41,4844.05,2024-01-22
10097,000003,0.108236,503.0,503.0,4864.60,10540.378374,None,4866.48,4844.37,2024-01-23
10098,000003,0.041698,503.0,503.0,4868.55,10549.043006,None,4903.68,4865.94,2024-01-24
10099,000003,0.282470,503.0,503.0,4894.16,10605.127989,None,4898.15,4869.34,2024-01-25
10100,000003,0.000000,503.0,503.0,4890.97,10598.226283,None,4906.69,4881.47,2024-01-26

In [8]:
# we use us bond ETFs since bonds are issued at intervals -> no one ticker to track
# bond ETF below used by Z. Cazalet and T. Roncalli, “Facts and Fantasies About Factor Investing.” Rochester, NY, Oct. 31, 2014. doi: 10.2139/ssrn.2524547.
# https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2524547
# ref: https://etfdb.com/etf/TLT/#etf-ticker-profile
# note: secd: https://wrds-www.wharton.upenn.edu/data-dictionary/comp_na_daily_all/secd/
# note: prccd refers to price - close - daily

comp_us_bonds_historical_daily = conn.raw_sql("""
select datadate, conm, tic, prccd
from comp_na_daily_all.secd
where tic = 'TLT'
""")
comp_us_bonds_historical_daily

        datadate                          conm  tic  prccd
0     2002-08-02  ISHARES 20 PLUS YR TREAS ETF  TLT  83.85
1     2002-08-05  ISHARES 20 PLUS YR TREAS ETF  TLT  84.22
2     2002-08-06  ISHARES 20 PLUS YR TREAS ETF  TLT  83.50
3     2002-08-07  ISHARES 20 PLUS YR TREAS ETF  TLT  83.70
4     2002-08-08  ISHARES 20 PLUS YR TREAS ETF  TLT  83.70
...          ...                           ...  ...    ...
5409  2024-01-22  ISHARES 20 PLUS YR TREAS ETF  TLT  94.65
5410  2024-01-23  ISHARES 20 PLUS YR TREAS ETF  TLT  93.90
5411  2024-01-24  ISHARES 20 PLUS YR TREAS ETF  TLT  93.35
5412  2024-01-25  ISHARES 20 PLUS YR TREAS ETF  TLT  93.96
5413  2024-01-26  ISHARES 20 PLUS YR TREAS ETF  TLT  93.78

[5414 rows x 4 columns]

In [9]:
comp_snp_historical_daily.to_csv('./snp500.csv')
comp_us_bonds_historical_daily.to_csv('./us_bonds.csv')

In [10]:
snp_df = pd.read_csv('./snp500.csv', index_col=0)
snp_df

,gvkeyx,dvpsxd,newnum,oldnum,prccd,prccddiv,prccddivn,prchd,prcld,datadate
0,3,NaN,NaN,NaN,156.30,NaN,NaN,156.30,156.30,1984-02-10
1,3,NaN,NaN,NaN,154.95,NaN,NaN,154.95,154.95,1984-02-13
2,3,NaN,NaN,NaN,156.61,NaN,NaN,156.61,156.61,1984-02-14
3,3,NaN,NaN,NaN,156.25,NaN,NaN,156.25,156.25,1984-02-15
4,3,NaN,NaN,NaN,156.13,NaN,NaN,156.13,156.13,1984-02-16
...,...,...,...,...,...,...,...,...,...,...
10096,3,0.000000,503.0,503.0,4850.43,10509.439394,NaN,4868.41,4844.05,2024-01-22
10097,3,0.108236,503.0,503.0,4864.60,10540.378374,NaN,4866.48,4844.37,2024-01-23
10098,3,0.041698,503.0,503.0,4868.55,10549.043006,NaN,4903.68,4865.94,2024-01-24
10099,3,0.282470,503.0,503.0,4894.16,10605.127989,NaN,4898.15,4869.34,2024-01-25
10100,3,0.000000,503.0,503.0,4890.97,10598.226283,NaN,4906.69,4881.47,2024-01-26

In [11]:
us_bonds_df = pd.read_csv('./us_bonds.csv', index_col=0)
us_bonds_df

        datadate                          conm  tic  prccd
0     2002-08-02  ISHARES 20 PLUS YR TREAS ETF  TLT  83.85
1     2002-08-05  ISHARES 20 PLUS YR TREAS ETF  TLT  84.22
2     2002-08-06  ISHARES 20 PLUS YR TREAS ETF  TLT  83.50
3     2002-08-07  ISHARES 20 PLUS YR TREAS ETF  TLT  83.70
4     2002-08-08  ISHARES 20 PLUS YR TREAS ETF  TLT  83.70
...          ...                           ...  ...    ...
5409  2024-01-22  ISHARES 20 PLUS YR TREAS ETF  TLT  94.65
5410  2024-01-23  ISHARES 20 PLUS YR TREAS ETF  TLT  93.90
5411  2024-01-24  ISHARES 20 PLUS YR TREAS ETF  TLT  93.35
5412  2024-01-25  ISHARES 20 PLUS YR TREAS ETF  TLT  93.96
5413  2024-01-26  ISHARES 20 PLUS YR TREAS ETF  TLT  93.78

[5414 rows x 4 columns]